
/*Web page placement logic */
.main-div {
    flex: 1
  }
.first-column {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 40%;
    height: 70%;
    font-size: 100%;
}
.about {
    color: white;
    top: 10%;
    position: relative;
    text-align: justify;
    line-height: 1.5em;   
}
.aboutpealkiri {
    color: white;
    position: relative;
    top: 8%;
    text-align: center;
}
#profiilipilt {
    position: absolute;
    top: 25%;
    right: 16.5%;
    width: 17%;
    height: auto;
    border: solid white;
}