.slider-holder {
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-style: solid;
    border-color: white;
    
  }
  
  .image-holder {
    width: 2400px;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  
  .slider-image {
    width: 800px;
    height: 400px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  
  #slider-image-1:target ~ .image-holder {
    left: 0px;
  }
  
  #slider-image-2:target ~ .image-holder {
    left: -800px;
  }
  
  #slider-image-3:target ~ .image-holder {
    left: -1600px;
  }
  
  .button-holder {
    position: relative;
    top: -20px;
  }
  
  .slider-change {
    display: inline-block;
    height: 15px;
    width: 15px;
    opacity: 90%;
    border-radius: 30px;
    background-color: white;
  }
  